.photoWrapper {
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  overflow: hidden;
}

.photo {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}
