.promo {
  position: relative;
  top: 0;
  height: calc(100vh - 100px);
  max-height: 668px;
}

.promoWrapper {
  position: absolute;
  inset: 0;
}

.promoImage {
  object-fit: cover;
  object-position: center bottom;
  z-index: -1;
}
