@font-face {
  font-family: Benzin;
  src:
    url('./fonts/benzin-regular.woff2') format('woff2'),
    url('./fonts/benzin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Benzin;
  src:
    url('./fonts/benzin-medium.woff2') format('woff2'),
    url('./fonts/benzin-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Benzin;
  src:
    url('./fonts/benzin-bold.woff2') format('woff2'),
    url('./fonts/benzin-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Bahnschrift;
  src:
    url('./fonts/bahnschrift.woff2') format('woff2'),
    url('./fonts/bahnschrift.woff') format('woff');
  font-style: normal;
  font-display: swap;
}
