.grid {
  width: 100%;
  margin: 0 auto;
  columns: 4;
  gap: 20px;
}

.gridCol {
  width: calc(320px + (1024 - 320) * ((100vw - 320px) / (1280 - 320)));
  max-width: 301px;
  break-inside: avoid;
  padding: 0;
}
