.rootTextInput {
  width: 408px;
  height: 40px;
  padding-left: 12px;
  background-color: var(--mantine-color-white);
}

.inputTextInput {
  padding-left: 12px;
  border: 1px solid var(--mantine-color-rangeGrey-5);
  font-size: 18px;
  color: var(--mantine-color-secondaryDynamic-5);
  background-color: transparent;
}

.inputTextInput:focus {
  outline-color: var(--mantine-color-black);
}

.inputTextInput::placeholder {
  color: var(--mantine-color-rangeGrey-5);
}
